* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Roboto", sans-serif;

  background-color: #f3f4f9;
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 10px;
  background: #fbfbfd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Arial", sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  input {
    background: #efeafc;
    border: none;
    border-radius: 6px;
    color: #27214266;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    line-height: 20px;
    padding: 15px 20px;
    flex: 3;
    transition: background-color 0.3s ease;

    &:focus {
      background: #d1c3fc;
      outline: none;
    }
  }

  button {
    background: #885df1;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 20px;
    height: 50px;
    flex: 1;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;

    &:hover {
      background: #7740c8;
      transform: scale(1.05);
    }
  }
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
