.weather-info {
  margin-top: 20px;

  h1 {
    color: #272142;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    margin: 20px 0 10px;
    font-family: "Winky Sans", sans-serif;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      text-align: left;
      color: #27214266;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 5px;

      strong {
        color: #f65282;
        font-weight: 400;
      }
    }
  }

  .temperature-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    margin-top: 10px;

    .temperature {
      color: #212121;
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
    }

    img {
      width: 70px;
      height: 70px;
    }
  }

  .toggle-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #f65282;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease,
      box-shadow 0.3s ease;
    margin-left: auto;
    display: block;
    margin-right: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #d1446f;
      transform: scale(1.05);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 5px 2px rgba(255, 105, 180, 0.8);
    }
  }
}

.weather-details {
  display: flex;
  justify-content: space-between;
}

.weather-temperature {
  flex: 0 0 50%;
  max-width: 50%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #f3f3f3;
  border-top: 4px solid #885df1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

// Media query for screens smaller than 400px
@media (max-width: 400px) {
  .temperature-container img {
    width: 52px !important;
    height: 52px !important;
  }
}

// For screen widths above 768px
@media (min-width: 768px) {
  .weather-temperature {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

// For screen widths above 576px
@media (min-width: 576px) {
  .weather-temperature {
    flex: 0 0 66.666%;
    max-width: 66.666%;
  }
}

// Keyframes for the spinner animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
