<div class="weather-info">
  <h1>Weather in {{ weatherData?.city }}</h1>
  <div class="weather-details">
    <ul>
      <li>
        <span>{{ weatherData?.dateTime }}</span>, {{ weatherData?.description }}
      </li>
      <li>
        Humidity: <strong>{{ weatherData?.humidity }}%</strong>, Wind:
        <strong>{{ weatherData?.windSpeed }} km/h</strong>
      </li>
    </ul>
    <div class="weather-temperature">
      <div class="temperature-container">
        <img [src]="weatherData?.icon" [alt]="weatherData?.description" />
        <div>
          <span class="temperature">
            {{ getTemperature(weatherData?.originalTemperature) }}
          </span>
          <span class="unit">&deg;{{ isCelsius ? 'C' : 'F' }}</span>
        </div>
      </div>
    </div>
  </div>
  <button (click)="toggleTemperatureUnit()" class="toggle-btn">
    Switch to {{ isCelsius ? '°F' : '°C' }}
  </button>
</div>
