/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.container {
  display: flex;
  margin: 0auto;
  background: white;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.sidebar {
  background: #4c0dff;
  color: white;
  width: 35%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.profile-image img {
  width: 30%;
  height: 80%;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.contact p {
  font-size: 14px;
  margin: 15px 0;
  color: white;
}
.contact p:nth-child(3) {
  margin: 0 0;
}

.highlight {
  color: #ffd700;
  font-weight: bold;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.social-icons a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.main-content {
  width: 65%;
  display: flex;
  align-items: center;
  padding: 40px;
  justify-content: flex-end;
  position: relative;
}

.info {
  max-width: 400px;
  position: relative;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

.highlight-blue {
  color: #4c0dff;
}

h3 {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
}

.primary {
  background: #4c0dff;
  color: white;
  border: 2px solid #4c0dff;
  transition: 0.3s;
}

.secondary {
  border: 2px solid #333;
  color: #333;
  transition: 0.3s;
}

.primary:hover {
  background: white;
  color: #4c0dff;
}

.secondary:hover {
  background: #333;
  color: white;
}
.logo {
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: left;
}
.logo p {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 18px;
  letter-spacing: 5px;
}
.logo .line {
  display: inline-block;
  height: 3px;
  background-color: #ffffff;
  margin: 10px auto;
  margin-right: 5px;
}

.line1 {
  width: 25px;
}
.line2 {
  width: 43px;
}
.logo .square {
  display: inline-block;
  width: 30px;
  height: 100%;
  border: 3px solid #ffffff;
}

#flex-logo-section {
  display: flex;
  justify-content: flex-start;
  height: 35px;
}
.line-text {
  display: flex;
  align-items: end;
  justify-content: center;
}
#text-logo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

#line-text2 {
  column-gap: 5px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

#snts {
  line-height: 15px;
}
#violet-line {
  height: 3px;
  background-color: #4c0dff;
  width: 150px;
  z-index: 1;
  position: absolute;
  top: 25%;
  right: 110%;
}
.menu-icon {
  position: absolute;
  font-size: 30px;
  top: 40px;
  right: 40px;
}
