<div class="container">
  <!-- Form for city input -->
  <form (submit)="getCityWeather($event)">
    <input
      type="text"
      [(ngModel)]="city"
      name="city"
      placeholder="Enter a city..."
      required
    />
    <button type="submit">Get Weather</button>
  </form>

  <!-- Error message if any -->
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <!-- Loading spinner -->
  <div *ngIf="loading" class="spinner"></div>

  <!-- Weather data display -->
  <div *ngIf="weatherData">
    <app-weather-details
      [weatherData]="weatherData"
      [isCelsius]="isCelsius"
      (temperatureToggle)="toggleTemperatureUnit()"
    ></app-weather-details>
  </div>

  <!-- Forecast for the next 7 days with temperatures -->
  <app-forecast
    [forecastData]="weatherData?.forecast"
    [isCelsius]="isCelsius"
  ></app-forecast>
</div>
